h1 {
  margin: 3rem 0;
}

.input-group {
    max-width: 600px;
    margin: auto;
}

.btn-group {
  float: right;
}

.editar {
  float: left;
}

.salario-empleado {
  text-align: right;
}

.id, thead{
  text-align: center;
}