h1 {
  margin: 3rem 0;
}

.input-group {
  max-width: 600px;
  margin: auto;
}

.btn-group {
  float: right;
}

.editar {
  float: left;
}

.salario-empleado {
  text-align: right;
}

.id,
thead {
  text-align: center;
}

button.btn {
  background-color: transparent;
  border: 1px solid green;
  color: green;
  transition: background-color ease 1s;
  border-color: rgb(0 128 0 ) !important;
}

button.btn:hover,
button.btn:focus,
button.btn:active {
  background-color: green !important;
  color: white !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 128 0 / 50%);
  border-color: rgb(0 128 0 / 50%) !important;
}

.btn-primary:disabled {
  background-color: rgb(0 128 0 / 50%);
  border-color: rgb(0 128 0 / 50%);
}

.form-control:focus {
  border-color: rgb(0 128 0 / 50%);
  box-shadow: 0 0 0 0.2rem rgb(0 128 0 / 20%);
}
